doctype html
head 
    title Auto DJ
    meta(charset='UTF-8') 
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='/styles/index.css')
h1 Auto DJ
#loader-container
    h3 Loading, please wait for website to redirect you
#root-container
    .upload
        h2 BPM Finder
        h3 Upload Single MP3 File
        form(class="form" action='/upload-single' enctype='multipart/form-data' method='POST')
            input(class="file-btn" type='file' name='myFile') 
            input(class="submit-btn" type='submit' value='Upload a file')
    .upload
        h2 Generate Auto DJ Mix
        h3 Upload Multiple MP3 Files
        form(class="form" action='/upload-multiple' enctype='multipart/form-data' method='POST')
            input(class="file-btn" type='file' name='myFiles' multiple='') 
            input(class="submit-btn" type='submit' value='Upload your files')

script(src='/scripts/name.js')