h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 16px 64px;
}

h3 {
  text-align: center;
  margin: 24px;
}

#root-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.file-btn {
  font-size: 20px;
  padding: 4px;
  margin: 16px;
  outline: none;
  background: white;
  color: black;
  border: 1px solid black;
}

.submit-btn {
  font-size: 20px;
  padding: 8px;
  outline: none;
  background: white;
  color: black;
  border: 1px solid black;
}

.submit-btn:hover {
  background: black;
  color: white;
}

#loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  height: 50%;
}
