h1 {
  text-align: center;
}

h2 {
  font-size: 14px;
  text-align: left;
}

h3 {
  font-size: 14px;
}

#playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  margin: auto;
}

.song {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-bpm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

#mix-btn {
  margin: 64px;
  outline: none;
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 24px;
}

#mix-btn:hover {
  color: white;
  background: black;
}
